{
  "presets": [["env", {
    "targets": {
      "node": "6.9.0"
    }
  }], "stage-3"],
  "plugins": [
    ["transform-react-jsx", { "pragma": "(global.webmiddle || require('webmiddle').default).h" }],
    ["transform-runtime", { "polyfill": false, "regenerator": true }]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
