package-lock=false
yarn run v1.5.1
$ npm-run lerna exec -- echo package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
Done in 1.57s.
yarn run v1.5.1
$ npm-run lerna exec echo package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
Done in 1.53s.
yarn run v1.5.1
$ npm-run lerna exec echo package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
package-lock=false
Done in 1.53s.
